
html,body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;

}


#box{
    /* border: 1px solid; */
    width: auto;
    min-width: auto;

    height: auto;
    padding: 20px;
   gap: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   background-color: blue;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border-radius: 10px;
   



  

    
    
    
}

#nag{
    width: 100%;
    max-width: 200px;

    height: 30px;
    margin-bottom: 10px;
    color: aqua;
    background-color: black;
}



#midbox{
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    background-color: bisque;
    justify-content: space-around;
    border-radius: 20px;
}

#midbox > div {
    text-align: center;
    /* border: 1px solid red; */
    height: auto;
    padding: 20px;
    width: auto;
    background-color: blueviolet;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;

    


}

@media (min-width:600px){
    
    
    #midbox{
        display: flex;
        gap: 10px;
        background-color: rgb(196, 255, 208);
        justify-content: space-around;
        border-radius: 20px;
    }
    


}